In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [2]:
data=r"C:\Users\RDP13\Desktop\tablekushi.csv"
data

'C:\\Users\\RDP13\\Desktop\\tablekushi.csv'

In [3]:
data=pd.read_csv(data)
data

      Name  Age    Country         Job Salary
0    Alice   25        USA    Engineer    $60
1      Bob   30         UK    Designer    $45
2  Charlie   35     Canada      Doctor    $80
3    David   40     France      Lawyer    $70
4    Emily   28    Germany     Teacher    $55
5    Fiona   33      Japan      Artist    $50
6   George   45     Brazil   Scientist    $90
7   Hannah   29  Australia     Manager    $65
8     Ivan   38     Russia  Programmer    $75
9  Jasmine   32      China       Nurse    $58

In [6]:
X=data.drop(columns='Salary')
X

      Name  Age    Country         Job
0    Alice   25        USA    Engineer
1      Bob   30         UK    Designer
2  Charlie   35     Canada      Doctor
3    David   40     France      Lawyer
4    Emily   28    Germany     Teacher
5    Fiona   33      Japan      Artist
6   George   45     Brazil   Scientist
7   Hannah   29  Australia     Manager
8     Ivan   38     Russia  Programmer
9  Jasmine   32      China       Nurse

In [8]:
y=data['Salary']
y

0    $60
1    $45
2    $80
3    $70
4    $55
5    $50
6    $90
7    $65
8    $75
9    $58
Name: Salary, dtype: object

In [15]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [23]:
X_train

      Name  Age    Country         Job
9  Jasmine   32      China       Nurse
5    Fiona   33      Japan      Artist
2  Charlie   35     Canada      Doctor
0    Alice   25        USA    Engineer
3    David   40     France      Lawyer
8     Ivan   38     Russia  Programmer
6   George   45     Brazil   Scientist
7   Hannah   29  Australia     Manager

In [24]:
X_test

    Name  Age  Country       Job
4  Emily   28  Germany   Teacher
1    Bob   30       UK  Designer

In [25]:
y_train

9    $58
5    $50
2    $80
0    $60
3    $70
8    $75
6    $90
7    $65
Name: Salary, dtype: object

In [27]:
y_test

4    $55
1    $45
Name: Salary, dtype: object

In [30]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr

LinearRegression()

In [31]:
lr.fit(X_train,y_train)

ValueError: could not convert string to float: 'Jasmine'

In [32]:
y_predict=lr.predict(X_test)

ValueError: could not convert string to float: 'Emily'

In [33]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(y_predict_,y_test)

NameError: name 'y_train_' is not defined